.custom-option-card {
    cursor: pointer;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .custom-option-card:hover {
    background-color: #f0f0f0;
  }
  
  .custom-option-card.correct {
    background-color: #1ad639;
    color: white;
  }
  
  .custom-option-card.incorrect {
    background-color: #e62f22;
    color: white;
  }
  
  .custom-option-card:hover {
    background-color: #f5f5f5;
  }
  